header {
    padding-top: 0px;
    background-color: #ff0000;
    color: #000000;
    padding: 10px;
}
body{background-image:url("https://wallpapers.com/images/hd/red-air-jordan-logo-ffs9q6usdvffoqim.jpg");
    
    
}
table{
    background-color: #f70202;
    border: 5px solid rgb(0, 0, 0);
    
    
}
